@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Patrick+Hand&display=swap');



body{
	margin:0;
	padding:0;
    background-image: url(background1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    
	

}


#titrecontact{
	text-align: center;
    margin-left: 90px;
    display:inline-block;
    font-family:'Pacifico';
    font-size: 45px;
}


nav h1{
	
	font-family: 'Josefin Sans', sans-serif;
	
}



nav{
	
	font-family: 'Fredoka', sans-serif;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-bottom: 5px solid;
	
	background-color: whitesmoke;
	
	
}

a:hover{
	color: cyan;
	;
}

/*a:visited{
	color:pink;
}*/


.tablette{
	text-align:left;
	padding-left:0;
	padding-right:1350px;
	
	
	
}

.lien{
	padding:25px;
	text-decoration: none;
    
	
	
}

img{
	
	height:55px;
	width:150;
	
	
	
}

